:root {
  --lblue: #47e6ff;
  --orange: #ff7b47;
  --green: #6ba368;
  --yellow: #ffd166;
  --dblue: #26547c;
  --jet: #2f2f2f;
  --charcoal: #424651;
  --catawba: #773344;
  /* --eggplant: #75485e; */
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.loading {
  height: 200px;
  width: 200px;
  position: fixed;
  top: calc(100vh / 2 - 100px);
  left: calc(100vw / 2 - 100px);
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-cc {
  100% {
    transform: rotate(-360deg);
  }
}
